<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A better place to learn computer science">
  <title>Document</title>
  <style>
    /* CSS for highlighting the message */
    .highlight {
      animation-name: highlight-animation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    @keyframes highlight-animation {
      0% {
        background-color: yellow;
        color: black;
      }
      50% {
        background-color: orange;
        color: white;
      }
      100% {
        background-color: yellow;
        color: black;
      }
    }
  </style>
</head>
<body>
  <h1 class="highlight">Welcome to our website!</h1>
  <p>This website provides valuable resources for learning computer science.</p>
</body>
</html>
